/* admin login */
.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* title */
.login-container h1 {
    font-size: 2rem;
    color: #0078d7;
    margin-bottom: 20px;
}

/* form */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* input box */
.login-form .form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.login-form input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* button */
.login-form,
.back-form {
    margin-bottom: 10px; 
}

.login-button {
    width: 100%; 
    padding: 10px;
    font-size: 1rem;
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056a3;
}


/* error message */
.error {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 15px;
    text-align: left;
}
