/* index welcome style */
.welcome-banner {
    position: relative;
    text-align: center;
    color: white; 
    border-radius: 10px; 
    overflow: hidden; 
    margin: 20px auto; 
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* image in the middle of main page */
.welcome-banner img {
    width: 100%;
    height: auto;
    filter: brightness(70%); /* dim the image color */
}

/* title in image */
.welcome-banner h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* set in the middle of page*/
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}

/* description */
.welcome-banner p {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    margin: 0;
}

#log_out{
    display: none;
}

/* button */
.welcome-banner .button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d76400;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: bold;
}
/* button hover style */
.welcome-banner .button:hover {
    background-color: #914400;
}

/* repositive */
@media (max-width: 768px) {
    .welcome-banner h2 {
        font-size: 2.2rem;  
    }

    .welcome-banner p {
        font-size: 1rem; 
    }

    .welcome-banner .button {
        font-size: 1rem;
        padding: 8px 15px;
    }
}
