/* order success page style */
.success-message {
    border: 1px solid #ddd; 
    border-radius: 10px; 
    background-color: #fff; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 600px; 
    margin: 20px auto; 
    text-align: center; 
}

/* title */
.success-message h2 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 20px;
    font-weight: bold;
}

/* paragraph */
.success-message p {
    font-size: 1.2rem;
    color: #555; 
    margin-bottom: 15px;
}

/* bold */
.success-message p strong {
    color: #d76400; 
    font-weight: bold;
}

/* button */
.success-message .button {
    background-color: #d76400;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.success-message .button:hover {
    background-color: #d76400;
    transform: scale(1.05);
}

/* reponsive */
@media (max-width: 768px) {
    .success-message {
        padding: 15px;
        font-size: 1rem;
    }

    .success-message p {
        font-size: 1rem;
    }

    .success-message .button {
        font-size: 1rem;
        padding: 8px 15px;
    }
}
