/* global style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* header style */
header {
    background-color: #d76400; 
    border-bottom: 2px solid #ddd;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2rem;
    color: white; 
    margin: 10px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 1px solid #ddd; 
    border-radius: 8px;
    background-color: #e6a958; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #333; 
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px; 
    border-radius: 4px; 
    transition: background-color 0.3s ease, color 0.3s ease;
}
/* hover style */
header nav ul li a:hover {
    text-decoration: none;
    background-color: #d76400; 
    color: #fff;
}

/* main style */
main {
    padding: 32px;
    min-height: calc(100vh - 120px);
    box-sizing: border-box;
}

.welcome {
    text-align: center;
    margin: 32px auto;
}

.welcome h2 {
    font-size: 32px;
    color: #0078d7;
}

/* footer style */
footer {
    text-align: center;
    background-color: #d76400;
    color: white;
    padding: 1rem;
    position:relative; 
    width: 100%;
    bottom: 0;
    margin-top: 40px; 
}
.admin-link {
    background-color: #0078d7;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.admin-link:hover {
    background-color: #0056a3;
}
/* responsive navigation style*/
@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }
}

